@font-face {
    font-family: "ComicRelief";
    src:
        url("/src/assets/fonts/ComicRelief/ComicRelief-Regular.woff2")
            format("woff2"),
        url("/src/assets/fonts/ComicRelief/ComicRelief-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ComicRelief";
    src:
        url("/src/assets/fonts/ComicRelief/ComicRelief-Bold.woff2")
            format("woff2"),
        url("/src/assets/fonts/ComicRelief/ComicRelief-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-ExtraLight.woff2")
            format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-Light.woff2") format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-Regular.woff2") format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-Medium.woff2") format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-Bold.woff2") format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2"),
        url("/src/assets/fonts/Manrope/Manrope-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ShantellSans";
    src:
        url("/src/assets/fonts/ShantellSans/ShantellSans-Light.woff2")
            format("woff2"),
        url("/src/assets/fonts/ShantellSans/ShantellSans-Light.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ShantellSans";
    src:
        url("/src/assets/fonts/ShantellSans/ShantellSans-Regular.woff2")
            format("woff2"),
        url("/src/assets/fonts/ShantellSans/ShantellSans-Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ShantellSans";
    src:
        url("/src/assets/fonts/ShantellSans/ShantellSans-Medium.woff2")
            format("woff2"),
        url("/src/assets/fonts/ShantellSans/ShantellSans-Medium.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ShantellSans";
    src:
        url("/src/assets/fonts/ShantellSans/ShantellSans-SemiBold.woff2")
            format("woff2"),
        url("/src/assets/fonts/ShantellSans/ShantellSans-SemiBold.woff")
            format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ShantellSans";
    src:
        url("/src/assets/fonts/ShantellSans/ShantellSans-Bold.woff2")
            format("woff2"),
        url("/src/assets/fonts/ShantellSans/ShantellSans-Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ShantellSans";
    src:
        url("/src/assets/fonts/ShantellSans/ShantellSans-ExtraBold.woff2")
            format("woff2"),
        url("/src/assets/fonts/ShantellSans/ShantellSans-ExtraBold.woff")
            format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// 100: Thin (Ultra Light)
// 200: Extra Light (Ultra Light)
// 300: Light
// 400: Normal (Regular/Book)
// 500: Medium
// 600: Semi Bold (Demi Bold)
// 700: Bold
// 800: Extra Bold (Ultra Bold)
// 900: Black (Heavy)
