@use "variables" as *;

@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin reset-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin typography(
    $font-weight,
    $line-height,
    $font-size,
    $color: var(--color-text-primary)
) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin focus {
    &:focus-visible {
        @content;
    }
}

@mixin active {
    @media (hover: hover) {
        &:active {
            @content;
        }
    }
}

@mixin hover-focus {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }

    &:focus-visible {
        @content;
    }
}
