// transitions
$trans-default: 0.3s ease;
$trans-long: 0.6s ease;

:root {
    // palette
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-100: #E9E9E9;
    --color-gray-400: #AAAAAA;
    --color-gray-900: #000707;

    --color-aqua-100: #F5FFFF;
    --color-aqua-100-alpha-20: rgb(245 255 255 / 20%);
    --color-aqua-400: #20C3C4;
    --color-aqua-500: #169899;

    --color-red-500: #E31C1C;

    // semantic
    --color-bg: var(--color-gray-900);
    --color-text-primary: var(--color-gray-100);

    --color-aqua: var(--color-aqua-500);
    --color-aqua-hover: var(--color-aqua-400);

    --color-error: var(--color-red-500);
}
