@use '@/styles/core.scss' as * ;

.form-field {
    input {
        @include typography(400, 1, 18px, var(--color-text-primary));

        width: 100%;
        height: 50px;
        padding: 0 20px;
        border: 1px solid var(--color-aqua-border);
        border-radius: 10px;
        outline: none;
        background-color: var(--color-aqua-100-alpha-20);
        transition: border-color $trans-default;

        &::placeholder {
            color: var(--color-gray-400);
        }

        @include hover {
            border-color: var(--color-aqua-hover);
        }
    }
}
